#canvas {
    /*width: 800px;*/
    /*height: 480px;*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(255, 181, 147, 0.7);
    background-color: #ebebeb;
    padding: 20px;
}
